---
extends: default

ignore: |
  molecule/
  roles/external/
  collections/

rules:
  line-length:
    max: 180
    level: warning
  truthy:
    allowed-values:
      - 'true'
      - 'false'
      - 'yes'
      - 'no'
