---
- name: Ensure ~/.claude/ directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.claude"
    state: directory
    mode: "0755"

- name: Copy CLAUDE.md
  ansible.builtin.copy:
    src: files/claude/CLAUDE.md
    dest: "{{ ansible_env.HOME }}/.claude/CLAUDE.md"
    backup: yes
    mode: "0664"

- name: Copy settings.json
  ansible.builtin.copy:
    src: files/claude/settings.json
    dest: "{{ ansible_env.HOME }}/.claude/settings.json"
    backup: yes
    mode: "0664"

- name: Ensure ~/.claude/agents/ directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.claude/agents"
    state: directory
    mode: "0755"

- name: Copy claude agents
  ansible.builtin.copy:
    src: "files/claude/agents/"
    dest: "{{ ansible_env.HOME }}/.claude/agents/"
    backup: yes
    mode: "0664"

- name: Install claude skill {{ item }}
  ansible.builtin.command:
    cmd: npx skills add composiohq/awesome-claude-skills@{{ item }} -g -y
    creates: "{{ ansible_env.HOME }}/.claude/skills/{{ item }}"
  loop: "{{ claude_skills }}"
