[alias]
	st = status -sb
	co = checkout
	lg = log --oneline
  last = log -1 HEAD --stat
  mr = push -u origin HEAD
  vlast = ! git log -n 1 --pretty=format:"%h" | tail -n 1 | git show
  p = push
  nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
  forget="!git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
  forgetlist="!git fetch -p && git branch -vv | awk '/: gone]/{print $1}'"
  uncommit = reset --soft HEAD~1
[user]
	email = jegj57@gmail.com
	name = Javier Galarza
